body {
    font-family: 'Arial', sans-serif;
    background: url('images/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #ff6f00;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    transition: background-color 1s, background-image 1s;
}

h1 {
    font-family: 'Creepster', cursive;
    font-size: 4em;
    margin-bottom: 0.5em;
    text-shadow: 
    3px 3px 3px #000;
    color: black;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: 'Creepster', cursive;
}

.countdown div {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: pulse 1s infinite;
}

.countdown span {
    display: block;
    font-size: 2em;
}

.label {
    font-size: 0.7em;
    color: #ccc;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.progress-bar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar-inner {
    height: 100%;
    background-color: #ff6f00;
    width: 0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    z-index: 10;
}

.modal-content {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.close-modal {
    cursor: pointer;
    float: right;
    font-size: 1.2em;
}

.toggle-music {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ff6f00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Creepster', cursive;
    color: #fff;
}

.quote {
    font-size: 1.2em;
    color: #fff;
    margin-top: 20px;
}

.ghost {
    position: absolute;
    width: 100px;
    height: 100px;
    background: url('path/to/your/ghost-image.png') no-repeat center center;
    background-size: contain;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.social-icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    cursor: pointer;
}

.facts {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 1em;
}
